'context-menu':
  '[is="hatena-bookmark-list"]': [
    label: 'insert'
    command: 'hatena-bookmark:insert'
  ,
    label: 'open comment url'
    command: 'hatena-bookmark:open-comment-url'
  ,
    label: 'open url'
    command: 'hatena-bookmark:open-url'
  ]
