// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

ul[is="hatena-bookmark-list"] {
  font-size: 11px;
  list-style-type: none;
  width: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;

  .bookmark {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;

    .bookmarked-at {
      padding-right: 8px;
    }

    .title {

    }
  }
}
